<div class="row">
    {{ personalInfo[0].getId }}
</div>
<div class="row">
    <div class="col-xs-4">
        First Name
    </div>
    <div class="col-xs-7">
        {{ personalInfo[0].getPersonalInfo.firstName}}
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        Last Name
    </div>
    <div class="col-xs-4">
        {{ personalInfo[0].getPersonalInfo.lastName}}
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        Birthday
    </div>
    <div class="col-xs-7">
        {{ personalInfo[0].getPersonalInfo.birthday}}
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        Gender
    </div>
    <div class="col-xs-7">
        {{ personalInfo[0].getPersonalInfo.gender}}
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        Password
    </div>
    <div class="col-xs-7">
        {{ personalInfo[0].getPersonalInfo.password}}
    </div>
</div>